@import "../../shared";
@import "../theme-dark";

@{P}-drag-drop {
    .Inert();
}

.Dragging() {
    opacity: .5;
    cursor: move !important;
}

@keyframes drag-lock {
    0% {
        //transform: scale(1);
        filter: brightness(2);
    }

    50% {
        opacity: 0.25;
        filter: brightness(1.5);
    }

    100% {
        .Dragging();
    }
}

.drag-handle,
.@{PCSS}-body.@{PCSS}-dragging {
    cursor: move;
}

.@{PCSS}-drag-lock:not(.@{PCSS}-dragging) {
    animation: drag-lock .25s 1 @easing_in_out_sine normal both;
}

.@{PCSS}-dragging {
    -ms-user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
}

.@{PCSS}-dragging:not(.@{PCSS}-body) {
    .Dragging();
}

.@{PCSS}-drag-floater {
    opacity: .75;
    pointer-events: none;
    z-index: @hamburger-z-index - 1;
}
