@import "../../shared";
@import "../theme-dark";

@{P}-collapse {
    display: block;

    .@{PCSS}-collapse {
        overflow: hidden !important;
        transition: height .35s @easing_in_out_sine;

        &.@{PCSS}-horizontal {
            transition: width .4s @easing_in_out_sine;
        }
    }
}