@import "../theme-dark";

.StretchChildren() {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    overflow: hidden;

    > * {
        flex: 1 0 auto;
    }
}

@{P}-2d {
    .StretchChildren();

    > :not(.@{PCSS}-2d){
        display: none !important;
    }

    .@{PCSS}-2d {
        //.StretchChildren();
        position: relative;
        
        > canvas,
        > svg {
            display: block;
            position: absolute;
        }
    }
}
