@import "theme-dark";

&, body {
    font-family: @font_std;
    background-color: @color_root_background;
    color: @color_light;
    font-size: @font_size;
}

body {
    overflow-x: hidden;
    line-height: 1.5;
    font-weight: @font_weight;
    .Background();
}

.@{PCSS}-body.@{PCSS}-animations {

    .@{PCSS}-animatable {
        .Animatable(.4s);
    }

    h1.@{PCSS}-animatable,
    .@{PCSS}-animatable.animatable-header {
        .Animatable('header-anim', .2s);
    }
}

::-webkit-scrollbar {
    width: @size_scrollbar;
    height: @size_scrollbar;
}

::-webkit-scrollbar-button {
}

::-webkit-scrollbar-track {
    background: @color_scrollbar_track;
}

::-webkit-scrollbar-track-piece {
}

::-webkit-scrollbar-thumb {
    background-color: @color_scrollbar_thumb;
}

::-webkit-scrollbar-thumb when (@shadows=true) {
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-corner {
}

::-webkit-resizer {
}
