@import "../theme-dark";
@import "shared";

@{P}-char-count {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    .FontTech(.7);
    text-align: right;

    @{P}-span {
        flex: 0 0 auto;

        &.@{PCSS}-char-min,
        &.@{PCSS}-char-max {
            opacity: 0.75;
        }

        &.@{PCSS}-char-min:after,
        &.@{PCSS}-char-max:before {
            //content: '\2264';
            content: '\2044';
            font-size: 0.8em;
            padding: @grid_spacing/12;
        }

        &.@{PCSS}-char-curr {
            font-weight: bold;
        }
    }

    .@{PCSS}-char-count {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;
        position: relative;
        padding: @grid_spacing/12 @grid_spacing @grid_spacing/12 @grid_spacing/8;

        &:after {
            .Icon('keyboard', @grid_spacing/1.5);
            right: 0;
            top: 0;
        }

        & when (@border_input_radius > 0) {
            transform: translateX(-@border_input_radius);
        }
    }

    .@{PCSS}-char-count.invalid {
        background: @color_error;
        color: @color_error_inv;

        & when (@border_radius > 0) {
            padding-left: @grid_spacing/8 + @border_input_radius;
            padding-right: @grid_spacing + @border_input_radius;
            border-bottom-left-radius: @border_input_radius * 1;
            border-bottom-right-radius: $border-bottom-left-radius;

            &::after {
                right: @border_input_radius;
            }
        }
    }
}
