@import "shared";

@_pad: @input_padding_horiz;

pacem-radio,
pacem-checkbox,
pacem-radio-list,
pacem-checkbox-list {
    .FormFieldItemWrapper();
}

pacem-radio-list,
pacem-checkbox-list {


    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;

        > li {
            display: inline-block;
            padding: 0 @_pad;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

pacem-radio,
pacem-checkbox {

    .pacem-input {
        display: inline;
        opacity: 0;
        width: 0;
        height: 0;
        border: 0;
        margin: 0;
        padding: 0;
        min-width: 0;
        min-height: 0;
    }

    label.pacem-label {
        .FormFieldItem();
        cursor: pointer;
        display: inline-block;
    }

    .pacem-readonly,
    label.pacem-label {
        padding-left: @grid_spacing + @_pad;
        padding-right: @_pad;
        position: relative;
        font-size: 1.1em;
        line-height: @field_height;
    }

    &.pacem-focus label.pacem-label:before {
        color: @color_default;
    }

    &.pacem-selected .pacem-readonly:before {
        color: @color_primary;
    }
}

pacem-checkbox .pacem-label.pacem-checkbox {
    min-width: @field_min_width;
    box-sizing: border-box;
}

pacem-checkbox-list {
    pacem-checkbox .pacem-label.pacem-checkbox {
        min-width: 0;
    }
}
