@import "shared";

@_pad: @input_padding_horiz;

@{P}-radio,
@{P}-checkbox,
@{P}-radio-list,
@{P}-checkbox-list {
    .FormFieldItemWrapper();
}

@{P}-radio-list,
@{P}-checkbox-list {


    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;

        > li {
            display: inline-block;
            padding: 0 @_pad;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

@{P}-radio,
@{P}-checkbox {

    .@{PCSS}-input {
        display: inline;
        opacity: 0;
        width: 0;
        height: 0;
        border: 0;
        margin: 0;
        padding: 0;
        min-width: 0;
        min-height: 0;
    }

    label.@{PCSS}-label {
        .FormFieldItem();
        cursor: pointer;
        display: inline-block;
    }

    &.pacem-disabled {

        label.@{PCSS}-label {
            cursor: default;
        }
    }

    label.@{PCSS}-label {
        padding-left: @grid_spacing + @_pad;
        padding-right: @_pad;
        position: relative;
        font-size: 1.1em;
        line-height: @field_height;
    }

    &.@{PCSS}-focus label.@{PCSS}-label::before {
        color: @color_default;
    }

    &.@{PCSS}-selected .@{PCSS}-readonly::before {
        color: @color_primary;
    }
}

@{P}-checkbox .@{PCSS}-label.@{PCSS}-checkbox {
    min-width: @field_min_width;
    box-sizing: border-box;
}

@{P}-checkbox-list {
    @{P}-checkbox .@{PCSS}-label.@{PCSS}-checkbox {
        min-width: 0;
    }
}
