@import "shared";

pacem-textarea-markdown {
    .FormFieldItemMultiline();

    /*textarea.pacem-input {
        //display: block;
        line-height: 1;
    }*/

    .pacem-readonly {
        line-height: 1;
    }

    &.pacem-readonly .pacem-readonly {

        > *:first-child {
            margin-top: 0;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }
}
