@import "../../shared";
@import "../theme-dark";
@import "shared";

//.pacem-field {
//.pacem-input-container {

.pacem-readonly.pacem-radio,
label.pacem-label.pacem-radio,
pacem-radio-list .pacem-readonly.pacem-radio {

    &:before {
        .Icon('radio_button_unchecked', 1.1rem * @font_rem_factor);
        left: @input_padding_horiz;
        line-height: @field_height;
        color: @color_input_toggle;
    }
}

pacem-radio {

    &.pacem-selected label.pacem-label.pacem-radio:before {
        content: 'radio_button_checked';
    }
}

pacem-radio-list,
pacem-radio {

    .pacem-readonly.pacem-radio {
        padding-left: @grid_spacing;

        &:before {
            content: 'check_box';
        }
    }

    &.pacem-disabled {
        .pacem-readonly.pacem-radio,
        label.pacem-label.pacem-radio{

            &:before {
                color: @color_disabled;
            }
        }
    }
}
