@import "../../shared";
@import "../theme-dark";

@{P}-upload {

    .@{PCSS}-upload {
        width: @grid_spacing;
        height: @grid_spacing;
        position: relative;

        .UploadButton() {
            width: 100%;
            height: 100%;
            display: block;
            overflow: hidden;
            position: absolute;
            cursor: pointer;
            z-index: 1;
        }

        input[type=file] {
            border: none;
            background: none;
            color: @color_light;
            opacity: 0;
            .UploadButton();
        }

        .@{PCSS}-upload-filewrapper,
       @{P}-button {
            .UploadButton();
            width: @grid_spacing;
            height: @grid_spacing;

            &:before {
                .UploadButton();
                top: 0;
                left: 0;
            }
        }

        .@{PCSS}-upload-filewrapper:before {
            .Icon('file_upload');
        }

       @{P}-button {
            font-size: 0;
            min-width: 0;

            &.@{PCSS}-upload-retry:before {
                .Icon('refresh');
            }

            &.@{PCSS}-upload-undo:before {
                .Icon('cancel');
            }
        }
    }
}

@{P}-upload .@{PCSS}-upload.@{PCSS}-progress {
    height: @grid_cell;
    width: @grid_cell;

   @{P}-tuner {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: @grid_cell;
        height: @grid_cell;
    }

    .@{PCSS}-upload-filewrapper,
   @{P}-button {
        top: .5 * (@grid_cell - @grid_spacing);
        left: .5 *(@grid_cell - @grid_spacing);
    }
}


.@{PCSS}-animations {

   @{P}-upload .@{PCSS}-upload-filewrapper {
        .Animatable(pop-anim, .55s, @easing_out_back);
    }
}
